/* Header */
.container {
    padding: 0 260px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #F6F8F9;
    padding: 0 20px;
    align-items: center;
}
.nav-a  {
    display: flex;
}
.nav-a li a {
    margin-right: 22px;
    font-size: 11px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #343638;
    opacity: 0.5;
}
.nav-a li:last-of-type {
    margin-right: 0;
}
.logo-img {
    width: 140px;
}
.nav-a li .active {
    opacity: 1;
}

/* Section-1 */
.main-div {
    display: flex;
    justify-content: space-between;
}

.section1-left-div {
    background-image: url(../img/Hero.jpg);
    background-size: cover;
    width: 1220px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1-left-div-box {
    display: flex;
    flex-direction: column;
    max-width: 660px;
    height: 247px;
    position: relative;
}
.section1-box-h1 {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.section1-box-h1::after {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: #FFFFFF;
    width: 660px;
    margin-top: 40px;
}
.section1-box-title {
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.section1-box-p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    color: #FFFFFF;
    line-height: 26px;
}
.read-more {
    background-color: #FA6980;
    width: 134px;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 25px;
}
.section1-right-div {
    display: flex;
    flex-direction: column;
    padding: 100px;
}
.section1-right-box-title {
    font-size: 24px;
    color: #202124;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.section1-right-box-title::after {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: #202124;
    width: 380px;
    margin-top: 40px;
}
.section1-right-div-box2 {
    margin-top: 40px;
}
.section1-right-div-box2-title {
    font-size: 16px;
    color: #FA6980;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.section1-right-div-box2-article-title {
    font-size: 16px;
    color: #202124;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.section1-right-div-box2-p {
    font-size: 16px;
    line-height: 26px;
    color: #A6ADB4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}
/* Section2 */

.section2-h3-title {
    font-size: 24px;
    color: #202124;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 40px;
}
.section2-box {
    width: 360px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.section2-box-div  {
    padding: 40px;
}
.section2-box-title {
    font-size: 16px;
    color: #202124;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.section2-box-p {
    font-size: 13px;
    line-height: 23px;
    color: #A6ADB4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 10px;
}
.section2-div {
    display: flex;
    justify-content: space-between;
}

/* Section3 */
.section3 {
    margin-top: 40px;
}
.section3-title {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 36px;
}
.section3-left-div  {
    background-image: url(../img/sec4img.jpg);
    width: 760px;
    height: 430px;
    padding: 40px;
}
.section3-left-div-title {
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.section3-left-div-box-title {
    font-size: 24px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 34px;
}
.section3-left-div-box-p  {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.section3-left-div-box {
    margin-top: 230px;
}
.section3-left-div2 {
    background-image: url(../img/sec3Image2.jpg);
    width: 760px;
    height: 430px;
    padding: 40px;
    margin-top: 40px;
}
.section3-small-box-title {
    font-size: 16px;
    color: #202124;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}
.section3-main-div {
    display: flex;
    justify-content: space-between;
}
.section3-right-small-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
/* footer */
footer {
    background-color: #A6ADB4;
    margin-top: 100px;
    height: 200px;
}
.footer-nav-div {
    display: flex;
    flex-direction: column;
}
.footer-nav-div a {
    font-size: 13px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #CBD0D3;
    margin-bottom: 8px;
}
.footer-nav-div a:last-of-type {
    margin-bottom: 0;
}
.footer-left-div {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}
.input-email {
    display: flex;
    flex-direction: column;
    position: relative;
}
.bottom {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    position: absolute;
}
.input-div {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.fa-paper-plane {
    color: #FFFFFF;
    font-weight: 16px;
    width: 16px;
}
.input-div input {
    width: 260px;
    height: 40px;
    border-color: rgba(255, 255, 255, 1);
    background-color: #A6ADB4;
    border-radius: 10px;
    border-style: double;
}
.input-div input::placeholder  {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #CBD0D3;
    font-weight: 400;
    opacity: 0.8;
    padding: 14px 0 0 20px;
}
.enter-your-email {
    font-size: 11px;
    color: #CBD0D3;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    right: 0;
}
.footer-icons a {
    margin-right: 32px;
}
.footer-icons a:last-of-type  {
    margin-right: 0;
}